extends layout

block content
  div.container
    each player in players
      div.player
        div.player-image(style=`background: url('/images/${player.imgSrc}') top center
        no-repeat; background-size: cover;`)
        h2.player-name
          | #{player.firstname} #{player.lastname}
        a(href=`/profile?id=${player.id}`)
          | View Profile
  
